.main-feedback {
  background-image: url('../../images/background.png');
  background-size: cover;
  height: 100vh;
}

.img {
  width: 200px;
  height: 150px;
  margin-top: -42px;
  margin-bottom: 22px;
}

.feedback {
  width: 439px;
  height: 250px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback h1 {
  color: #F9BA18;
  margin-top: -27px;
  margin-bottom: 30px;
  font-size: 35px;
}

.p{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;

  color: #B5B5B5;
}

.worst {
  color: red;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 23px;
}

.better {
  color: #2FC18C;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 23px;
}

.container-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.again {
  background: #00D5E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 200.5px;
  height: 40px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #FFFFFF;
  border: none;
}

.btn-ranking {
  background: #2FC18C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 200.5px;
  height: 40px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #FFFFFF;
  border: none;
}